.card-title{
    text-align: center;
    color: theme-color("section-bg");
    margin-top: 4px;
}

.card{
    background-color: theme-color("primary");
    color: theme-color("section-bg");
    height: 100%;
    width: 100%;
}

.fa-futbol{
    color: red;
}
.fa-basketball-ball{
    color: orange;
}
.fa-table-tennis{
    color: rgb(37, 201, 201);
}
.fa-gamepad{
    color: plum;
}
.fa-football-ball{
    color: burlywood;
}
.fa-hockey-puck{
    color: rgb(13, 71, 146);
}

.sport-items-container{
    @include scrollbars(.5em, slategray);
    overflow-x: auto;
    padding-bottom: 0.5rem;
    .sport-item{
        flex: 0 0 100px;
        flex-direction: column;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.1);
        border-radius: 0.5rem;
        justify-content: center;
        

        .card-title{
            margin-bottom: 0;
        }
        +.sport-item{
            margin-left: 0.5rem;
        }
    }
}

