.promo-banner {
    flex: 1;
    background-color: theme-color("primary");
    border-radius: $border-radius-xxlg;
    position: relative;
    box-shadow: $card-box-shadow;

    + .promo-banner {
        margin-left: $grid-gutter-width;
    }
    .banner-info {
        position: absolute;
        padding: 2rem;
        height: 100%;
        width: 40%;
    }

    .promo-title {
        text-transform: uppercase;
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
        color: color-yiq(theme-color("action"));
    }

    .promo-description {
        color: rgba(color-yiq(theme-color("action")), .7);
    }

    .promo-button {
        @include gradient-x(theme-color("action"), theme-color("action"), 0%, 100%);
        color: color-yiq(theme-color("action"));
        &:hover {
            @include gradient-x(lighten(theme-color("action"), 3%), lighten(theme-color("action"), 3%), 0%, 100%);
        }
    }

}